n8n/Job Application Agent.json
{
  "name": "Job Application Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        16
      ],
      "id": "27b2e558-a652-4fa7-9a46-42670484b3d7",
      "name": "Webhook: Receive Application ",
      "webhookId": "79cc01cc-fcb0-4fda-8302-0a6b5de0d747"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify(\"You are a job application assistant. Given this job description and resume, return a JSON object with: bullets (array of 3 tailored resume bullet points), cover_letter (short 3-sentence cover letter), match_score (0-100 integer), reasoning (one sentence).\\n\\nJob Description:\\n\" + $json.body.job_description + \"\\n\\nResume:\\n\" + $json.body.resume + \"\\n\\nReturn only valid JSON, no markdown, no code fences.\") }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        16
      ],
      "id": "45f01db3-1ef5-4732-b25e-90fd68e41204",
      "name": "HTTP Request: Call LLM API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let raw = $input.first().json.candidates[0].content.parts[0].text;\n\n// Strip markdown code fences if present\nraw = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    bullets: parsed.bullets,\n    cover_letter: parsed.cover_letter,\n    match_score: parsed.match_score,\n    reasoning: parsed.reasoning\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        16
      ],
      "id": "7a2d75c4-ae12-450a-9896-4b057f610aa3",
      "name": "Code in JavaScript: Parse Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        16
      ],
      "id": "9a9d0938-2c71-4d9d-89a6-eb97c3ad77f0",
      "name": "Respond to Webhook: Send to Frontend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        192
      ],
      "id": "5e7ed1eb-611e-4afc-b508-82d38f8313de",
      "name": "Respond to Webhook: Send Error Response"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: true,\n    message: \"AI service is temporarily unavailable. Please try again.\",\n    match_score: 0,\n    bullets: [],\n    cover_letter: \"\",\n    reasoning: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        112
      ],
      "id": "f23ff999-e70e-40d9-89b0-27a061e559c5",
      "name": "Code in JavaScript: Format Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1a2b3c4d-1111-2222-3333-444455556666",
              "leftValue": "={{ $json.match_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        250
      ],
      "id": "b2c3d4e5-aaaa-bbbb-cccc-ddddeeeeffff",
      "name": "IF: High Match Score"
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "email": "={{ $('Webhook: Receive Application ').item.json.body?.email || \"candidate@example.com\" }}",
        "additionalFields": {
          "name": "={{ $('Webhook: Receive Application ').item.json.body?.name || \"Candidate\" }}",
          "tags": "high-match,ai-screened"
        }
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1450,
        250
      ],
      "id": "c3d4e5f6-1111-2222-3333-44445555aaaa",
      "name": "HighLevel: Create Contact",
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "create",
        "pipelineName": "Job Applications",
        "stageName": "High Match",
        "contactId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1700,
        250
      ],
      "id": "d4e5f6a7-2222-3333-4444-5555aaaa6666",
      "name": "HighLevel: Create Opportunity",
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "title": "Follow up - high match candidate",
        "contactId": "={{ $('HighLevel: Create Contact').item.json.id }}",
        "additionalFields": {
          "dueDate": "={{ new Date(Date.now() + 2*86400000).toISOString() }}"
        }
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        1950,
        250
      ],
      "id": "e5f6a7b8-3333-4444-5555-6666aaaa7777",
      "name": "HighLevel: Create Task",
      "onError": "continueRegularOutput",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Application ": {
      "main": [
        [
          {
            "node": "HTTP Request: Call LLM API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Call LLM API": {
      "main": [
        [
          {
            "node": "Code in JavaScript: Parse Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript: Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook: Send to Frontend",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF: High Match Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript: Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook: Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: High Match Score": {
      "main": [
        [
          {
            "node": "HighLevel: Create Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HighLevel: Create Contact": {
      "main": [
        [
          {
            "node": "HighLevel: Create Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel: Create Opportunity": {
      "main": [
        [
          {
            "node": "HighLevel: Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a8c01dfe-2222-4444-9999-bcc06839def2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1b30a81faf775863322bc27573163b364e69f945bb9a157618208b732cee000"
  },
  "id": "wYlTY9ZVSNXb9okJ",
  "tags": []
}
